* , *:before ,  *:after 
    box-sizing: border-box
body
    font-family: 'Poppins Regular'',Poppins Medium','Poppins Bold',  sans-serif
    background-color: #fff
img
    width: 100%
    height: 100%
.container
    width: 75%
    margin: 0  auto
