.header
    height: 80px
    padding:  20px 0
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        font-size: 27px
        font-weight: 900
    &__icon
        display: flex
        justify-content: space-between
        height: 20px
        margin-right: 40px
        &:nth-child(3)
            margin-right: 0

